
<% layout("/layouts/boilerplate") %>

<div class="full">
<div class="row">
    <div class="alert alert-danger col-6 mt-4 offset-3">
        <div class="alert-heading">
            <%= message %>
        </div>
    
    </div>
</div>
</div>